/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2018, 11:13:49
    Author     : Usuario
*/
body{
	background-color: #F9CEA7;
	text-align: center;
}

#contenidoFacturaProducto{
	margin: 0 auto;
	border: 3px solid #000;
	padding: 3em;
	max-width: 30%;
}

#contenidoFacturaProducto div{
	padding: 0.5em;
	width: 100%;
}

#contenidoFacturaProducto div label{
	text-align: left;
	max-width: 30%;
	text-decoration-color: #730038;
}

#contenidoFacturaProducto div input [type="text"]{
	text-align: right;
	min-width: 70%;	
	color: #730038;
}

.button{
	margin: 0.5em;
	background-color: #F97D3F;
	border: none;
	outline: none;
	padding: 0.3em;
	border-radius: 10px;

}

