/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2018, 10:39:50
    Author     : Usuario
*/

body{
	background-color: #E3B7F7;
	text-align: center; 
}

#contenidoLogin{
	margin: 0 auto;
	border: 3px solid #000;
	padding: 3em;
	max-width: 20%;
}

#contenidoLogin div{
	padding: 0.5em;
	width: 100%;
}

#contenidoLogin div label{
	text-align: left;
	max-width: 30%;
	text-decoration-color: #730038;
}

#contenidoLogin div input[type="text"],[type ="password"] {
	text-align: right;
	min-width: 70%;	
	color: #730038;
}

.button{
	margin: 0.5em;
	background-color: #F99FCB;
	border: none;
	outline: none;
	padding: 0.3em;
	border-radius: 10px;
}
